.workflowPage {
    min-height: 80vh;
}

.workflowWrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 20px;
    background: #F9F9F9;
}

.reactflowMain {
    width: 66.5%;
    max-width: calc(95% - 290px);
    padding: 0;
}

.reactflow {
    border: 1px solid var(--tertiary-300);
    background: var(--tertiary-200) !important;
}

.sidebarWrapper {
    width: 100%;
    max-width: 290px;
    background-color: var(--white-color);
    border: 1px solid var(--tertiary-400);
    border-radius: 18px;
    min-height: calc(100vh - 120px);
}

.heading {
    padding: 30px 16px 0;
}

.searchInput {
    padding: 0 16px 16px;
}

.searchInput input {
    background: var(--tertiary-200);
}

.sidebardragDrop {
    justify-content: flex-start;
    padding: 12px 0;
    cursor: pointer;
}

.sidebardragDrop[draggable="false"] {
    cursor: no-drop;
}

.sidebardragDrop h6 {
    margin: 0;
    color: var(--tertiary-100);
    font-weight: var(--font-weight-500);
}

.sidebardragDrop svg {
    width: 25px;
    height: 25px;
    fill: var(--tertiary-100);
}

.topbar {
    justify-content: space-between;
    gap: 1rem;
}

.topbarWrapper {
    padding: 15px 50px;
    border-bottom: 1px solid var(--tertiary-300);
}

.topbar button,
.topbar a {
    padding: 10px 24px;
}

.discardBtn {
    justify-content: flex-start;
}

.node-main {
    justify-content: space-between;
    align-items: flex-start;
}

.node {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.node-main h6 {
    margin: 0;
}

.node-text {
    text-align: left;
}

.node-text span {
    font-weight: var(--font-weight-700);
    color: var(--primary-200);
}

.filterStyle {
    border: 1px solid var(--tertiary-300);
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
}

.filterStyle p {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
}

.filterStyle p:last-child {
    margin: 0;
}

.filterStyle ul li:not(:last-child) {
    margin-bottom: 6px;
}

.workspaceSelect {
    padding: 0 16px 16px;
    border-bottom: 1px solid var(--tertiary-300);
    margin-bottom: 16px;
}

.workspaceSelect label {
    font-weight: var(--font-weight-600);
    margin-bottom: 5px;
    display: block;
}

.workspaceName {
    text-align: center;
}

.workspaceName input {
    margin: 0;
    font-size: var(--h5-font);
    text-align: center;
    padding: 0;
    border: 0;
    font-weight: var(--font-weight-600);
    font-family: var(--Inter-family);
}

.topbar>* {
    min-width: 32%;
}

.rightButtons {
    justify-content: flex-end;
}

.filterStyle hr {
    margin: 10px 0;
    border-top: 0;
    border-bottom: 1px solid var(--tertiary-300);
}

.listNodeShow {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6px;
    width: 100%;
}

.filterStyle p:not(:last-child) .listNodeShow {
    border-bottom: 1px solid var(--tertiary-300);
    padding-bottom: 10px;
    margin-bottom: 6px;
}

.listNodeShow li {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterStyle p b {
    background: var(--tertiary-200);
    border-radius: 2px;
    padding: 3px 8px;
    text-align: right;
}

.checkLabel {
    margin-bottom: 1rem;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.checkLabel label,
.btnAdd {
    background: var(--tertiary-400);
    padding: 3px 10px;
    border: 1px solid var(--tertiary-600);
    border-radius: 4px;
    display: inline-block;
}

.selectIF {
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--tertiary-100);
}

.conditionNode,
.outsideCondition .addDelete {
    background: var(--tertiary-300);
    padding: 10px;
    border: 1px solid var(--tertiary-600);
    border-radius: 8px;
    margin-bottom: 20px;
}

.conditionList {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.addDelete {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}

.deleteBtn {
    background: var(--white-color) !important;
    border: 0;
    padding: 0;
    font-size: 20px;
    color: red;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.conditionBtn button {
    background: transparent !important;
    border: 0;
    padding: 0;
    color: var(--primary-100) !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.elseCondition p {
    margin: 0;
    font-weight: var(--font-weight-500);
    background: #fff;
    padding: 10px;
    border: 1px solid var(--tertiary-600);
    border-radius: 8px;
}

.pivotSidebar {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid var(--tertiary-300);
}

.pivotMain {
    background: var(--tertiary-200);
    border: 6px solid var(--tertiary-300);
}

.columnList {
    max-height: 320px;
    overflow-y: auto;
}

.dropAreaData {
    border: 1px solid var(--tertiary-300);
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    min-height: 150px;
}

.dropArea {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dropArea h6 {
    font-size: var(--base-font);
    margin: 0;
}

.pivotArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.groupbyArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.droppedItem {
    background: #E9F5FE;
    margin-bottom: 5px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    font-weight: 500;
    color: #101828B2;
}

.droppedItem svg {
    font-size: 12px;
}

.functionPivotWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.functionPivot {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    border: 1px solid var(--tertiary-300);
    border-radius: 8px;
    padding: 10px;
}

.functionPivot h6 {
    font-size: var(--font-xs);
}

.functionPivotCheckbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arithmeticWrapper {
    border: 1px solid var(--tertiary-300);
    border-radius: 8px;
    padding: 10px;
    min-height: 300px;
}

.enteredValue,
.operationValue {
    margin: 5px;
    display: inline-block;
    padding: 6px 10px;
    background: #E9F5FE;
    font-size: var(--font-xs);
    border-radius: 6px;
    cursor: pointer;
}

.operationsBoxs {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-weight: 500;
}

.arithmeticWrapper {
    display: block;
}

.arithmeticWrapper .droppedItem {
    display: inline-flex;
    margin-right: 10px;
    gap: 10px;
}

.starting-point-label,
.ending-point-label {
    background: var(--tertiary-400);
    text-align: left;
    padding: 5px 15px;
    display: inline-block;
    font-weight: var(--font-weight-600);
    border-radius: 6px;
    position: absolute;
    top: -35px;
    left: 0;
}

.nodewrap {
    flex-wrap: nowrap;
}

.subkeyvalue {
    width: 100%;
}

.operations {
    padding: 10px 20px;
}

.operations .sidebardragDrop {
    padding: 10px 10px 10px 15px;
    gap: 12px;
}

.operations .sidebardragDrop h6 {
    font-size: var(--font-sm);
}

.operations .sidebardragDrop svg {
    width: 22px;
    height: 100%;
}

.nodeBox {
    padding: 15px;
    background: var(--white-color);
    border: 1px solid var(--tertiary-300);
    border-radius: 12px;
}

.inputField {
    padding: 7px 10px !important;
    border-color: var(--tertiary-500) !important;
}

.nodeBox form {
    width: 100%;
}

.formInput {
    width: 100%;
    justify-content: flex-start;
}

.widthInput {
    width: 100%;
    max-width: calc((50% - 10px));
    margin: 0;
}

.fullwidth {
    max-width: 100%;
}

.widthInput .deleteBtn {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: -25px;
    right: 5px;
}

.iconFlag {
    font-size: 26px;
    border: 1px solid var(--tertiary-300);
    padding: 3px;
    background-color: var(--tertiary-200);
    border-radius: 6px;
}

.rightsidebarheader {
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.settingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settingcontainer:hover {
    background-color: #e0e0e0;
}

.operations {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headingText {
    background-color: rgba(16, 23, 39, 0.1);
    width: 90px;
    height: 36px;
    padding: 8px 6px 8px 6px;
    border-radius: 4px;
    margin-top: 2%;
}

.titleName {
    font-size: 18px;
    font-weight: bold;
}

.variableSection {
    margin-top: 10px;
}

.variableGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.variableType {
    font-weight: bold;
    margin-bottom: 5px;
}

.variableOption {
    padding-left: 10px;
    color: #555;
}

.rightsidebar {
    width: 117%;
    max-width: 410px;
    background-color: var(--white-color);
    border: 1px solid var(--tertiary-400);
    border-radius: 18px;
    min-height: calc(100vh - 120px);
}

.iconWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 3px;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variables {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.localData {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
}

.variables h6 {
    margin: 0;
    color: var(--tertiary-100);
    font-weight: var(--font-weight-500);
}

.variables svg {
    width: 25px;
    height: 25px;
    fill: var(--tertiary-100);
}

.rightsidewrapper {
    width: 100%;
    max-width: 290px;
    background-color: var(--white-color);
    border: 1px solid var(--tertiary-400);
    border-radius: 18px;
    min-height: calc(100vh - 140px);
}

.custommodalwrapper {
    position: fixed;
    top: 0;
    left: 65.5%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    pointer-events: auto;
}


.custommodal {
    padding: 0px 0px 30px 0px;
    border-radius: 18px;
    width: 300px;
    margin-top: 90px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 0;
    position: relative;
    max-width: calc(100vw - 32px);
    background-color: rgba(252, 252, 252, 1);
    z-index: 1000;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 26px;
    color: rgba(102, 112, 133, 1);
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 3px;
    width: 33px;
    height: 33px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rightbar {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rightbar h6 {
    margin-bottom: 0;
}

.selectVariables {
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
}

.selectVariables h6 {
    margin: 0;
    color: var(--tertiary-100);
    font-weight: var(--font-weight-500);
}

.selectedvariable {
    background: rgba(239, 239, 239, 1);
    padding: 20px;
}

.variableContainer {
    display: flex;
    justify-content: center;
}

.variableBox {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconAndLabel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.variablesubContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelWrapper h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.labelWrapper p {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.iconsRight {
    display: flex;
    align-items: center;
}

.dropdownWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.deleteIcon {
    cursor: pointer;
}

.formcontrol {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: 100%;
}

.formcontrol:focus {
    border: 1px solid rgba(1, 175, 178, 1);
    outline: none;
}

.icon {
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: rgba(1, 175, 178, 1) 0.3s ease;
}

.iconClicked {
    background-color: rgba(1, 175, 178, 1);
}

.dropdownMenu {
    position: absolute;
    top: 42%;
    right: 3%;
    background-color: #f0f0f0;
    border: 1px solid#f0f0f0;
    border-radius: 6px;
    z-index: 100;
    width: 150px;
}

.dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdownMenu li {
    padding: 10px;
    cursor: pointer;
}

.dropdownMenu li:hover {
    border-radius: 6px;
    transition: 1s;
    background-color: rgba(1, 175, 178, 1);
}